---
layout: default
---

<article class='{{ page.author|downcase }}-post'>
<img src='/img/{{ page.author }}-icon.gif' class='character-icon' />
<h1>{{ page.title }}</h1>
<p class='meta'>by {{ page.author }}</p>
{{ content }}
</article>

<nav>
	{% if page.previous %}
		<a href='{{ page.previous.url }}' class='prev-post-link'>&laquo; {{ page.previous.title }}</a>

	{% else %}
		<a href='/' class='prev-post-link'>&laquo; Foreward</a>
	{% endif %}

	{% if page.next %}
        <a href='{{ page.next.url }} ' class='next-post-link'>{{ page.next.title }} &raquo;</a>
	{% endif %}
</nav>
